@import '../../../assets/styles/buttons'; 
@import '../../../assets/styles/forms'; 

.sitesListSection {
  width: 100%;
  padding: 0 $base-spacing;

  header {
    display: flex;
    justify-items: flex-end;
    align-items: center;

    h3{
      margin-right: auto;
    }
  }

  .columnTitles{
    padding: $base-spacing;
    background: $grey-lighten;
  }

  .sitesList {
    width: 100%;
    background-color: $background-color1;
  }

  .siteItem, .columnTitles {
    display:grid;
    grid-template-columns: 50px 1fr 50px;
    justify-items: start;
    align-items: center;
  }
  
  .siteItem {
    background-color: $background-color1;
    margin-bottom: $base-spacing;
    padding: 0 $base-spacing;

    &:hover {
      background-color: $background-color2;
    }

    button {
      height: fit-content;
      width: 100%;
    }
  }
}