@import '../../assets/styles/buttons';

.pageGrid {
    display: grid;
    gap: 1em;
    width: 100%;
    justify-items: center;

    button {
        .start {
            background-color: green;
        }
        .end {
            background-color: red;
        }
    }
}