@import '../../../assets/styles/buttons';

.maintenanceAside {
    grid-area: Aside;
    max-height: 300px;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    ". ."
                            ". ."
                            "text text"
                            "submit submit"
    ;
    
    input {
        border: 2px solid rgb(51, 51, 51);
        border-radius: 15px;
    }

    textarea {
        border: 2px solid rgb(51, 51, 51);
        margin: auto;
        width: 100%;
        height: 100%;
        grid-area: text;
        border-radius: 15px;
    }
    button {
        margin: auto;
        border-radius: 15px;

        
        &[type="submit"] {
            grid-area: submit;
        }
    }
}