.asideDiv {
    position: fixed;
    top: 30vh;
    right: 50px;
    width: 500px;
    height: 300px;
    textarea {
        margin: auto;
        width: 90%;
        height: 25%;
    }
    button {
        margin: auto;
    }
    input {
        width: 150px;
    }
}