@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/buttons";


.signOffMaintenanceSection {

    .signOffMaintenanceTitle {
        
        
        padding: $base-spacing*2 0;
    }

    .columnTitles {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 120px 120px 120px;
    }
    
    .signOffMaintenanceForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $base-spacing*2;
        width: 100%;
        margin: 0 auto;
    
        input {
            margin-left: $base-spacing;
        }
        button {
            grid-column: 2/3;
            justify-self: end;
        }
    }
}