@import '../../assets/styles/buttons';
@import "./../../assets/styles/fonts";

.loginPage {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  margin-top: -50px;
}

.password, .idnumber {
  color: lightgray;
  font-weight: 500;
  margin-left: 0px;
}

.loginContainer {

}

.loginTitle {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: bold;
}

.loginBtns {
  padding: 10px 20px;
  font-weight: 500;
  width: 30vh;
  max-width: 200px;
  margin: 10px;
  background: $primary-color;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:hover {
    background: $dark-text-high;
  }

  &:nth-child(1) {
    background: white;
    border: 2px solid $primary-color;
    color:  darken($primary-color, 5%);
    font-weight: 500;
  }
}

.signInButton {
  max-width: 100%;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  max-width: 100%;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  // color: $light-text-mid;
}

footer {
  text-align: center;
  font-size: 13px;
}

.loginForm {
  display: grid;
  gap: 0.5em;
  width: 300px;

  input {
    border-radius: 3px;
    border: 2px solid lightgray;
    padding: 5px;
  }

  button {    
    &[type="submit"] {
      margin-top: 1em;
      font-family: rubik;
    }
  }
}