@import "../../../assets/styles/variables";

.dataFeed {
    box-sizing:border-box;
    background-color: $background-color1;
    gap: 0.5em;
    width: 100%;
    border-radius: 25px;
    height:425px;
    width: 48%;
    cursor:pointer;
    padding:6px 12px;

    .feedTitle {
        font-size: 40px;
        color: $light-text-color;
        font-family: rubik;
        font-style: normal;
        font-weight: 700;
    }
    .feedList {
        overflow-y: scroll;
        margin-top: 15px;
        height: 310px;
    }
}