@import '../../../../assets/styles/buttons'; 

.userForm {
  margin-top: 1em;
  display: grid;
  gap:0.5em;
  grid-template-columns: 1fr 1fr;

  p {
    color: red;
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
    grid-column: 2/3;
  };

  button[type="submit"] {
    grid-column: 1/3;
}
}