@import "../../../assets/styles/buttons";

.userListSection {
  width: 100%;
  padding: 0 $base-spacing*2 $base-spacing*2 $base-spacing*2;

  header {
    background-color: $primary-color;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: $base-spacing $base-spacing*2;

    h3{
      margin-right: auto;
    }
    button, select {
      background-color: $primary-color;
      color: $dark-text-mid;
      &:hover {
        background-color: $background-color3;
      }
    }
  }

  .columnTitles{
    padding: $base-spacing;
  }

  .userList {
    width: 100%;
    background-color: $background-color1;
    margin: 0;
    padding: 0 $base-spacing $base-spacing $base-spacing;
  }

  .userItem, .columnTitles {
    display:grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
  }
  
  .userItem {
    background-color: $background-color1;
    margin-bottom: $base-spacing;
    padding: 0 $base-spacing;

    &:hover {
      background-color: $background-color2;
    }

    button {
      height: fit-content;
      width: 100%;
      margin: $base-spacing 0;
    }
  }
}