@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/forms";
@import "./../../../assets/styles/buttons";

.reportProblemFormForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-spacing*2;
    width: 100%;
    margin: 0 auto;

    button {
        grid-column: 2/3;
        justify-self: end;
    }
}


form {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    button {
        width: 100px;
    }
    fieldset {
        display: flex;
        justify-content: space-between;
        border: none;

        > * {
            margin: 5px;
        }
    }
    div {
        display: flex;
        margin: 5px;
    }
}  



