@import '../../assets/styles/variables';
@import '../../assets/styles/buttons';

.sideNav {
  width: 250px;
  padding: $base-spacing*2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-items: center;
  align-items: start;
  // background: $grey-lighten;
  transition: 0.3s width ease;

  
}

.docked {
  width: 80px!important;
  overflow: hidden;
}

.sideNavHeader {
  width: 100%;
  display :flex;
  justify-content: center;
  background: white;
  border-radius: 10px;
}

.sideNavMenu {
  display : flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 $base-spacing*2;
}

.accountMenu {
  width: 100%;
  display :flex;
  flex-direction: column;
  justify-content: flex-end;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: $base-spacing*2;
}

.accountMenu li {
  cursor: pointer;
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  transform-origin: left;
  // overflow-x: hidden;
  color: $dark-text-mid;
  &:hover {
    color: $dark-text-high;
  }
}

.accountMenuLogout, .accountMenuPassword {
  // transform: translateX(-100%);
}

.accountMenuOpen {
  height: 300px;
}

.faIcon {
  font-size: 1.5rem;
  justify-self: center;
  margin-right: 10px;
}