@import '../../../../assets/styles/buttons'; 
@import '../../../../assets/styles/variables'; 

  .partItem {
    display:grid;
    grid-template-columns: 50px 1fr 25px 25px;
    justify-items: start;
    align-items: center;
    padding: $base-spacing/2;
    border-top: 1px solid $background-color1;
    position: relative;
    color: $dark-text-mid;

    &:hover {
      background-color: $background-color1;
      p {
        color: $dark-text-high;
      }
    }
    
    .confirmDelete {
      display: none;
      position: absolute;
      right: 0;
      grid-template-columns: auto auto;
      gap: $base-spacing;

      button {
        padding: $base-spacing/2;
      }
    }

    .confirmOpen {
      display: grid;
    }
  }

  .faIcon {
    cursor: pointer;
    font-size: 1em;
    color: $dark-text-mid;
  }