@import "../../../assets/styles/variables";
@import '../../../assets/styles/buttons'; 
@import '../../../assets/styles/forms';

.dataFeed {
    width: 50%;
    cursor:pointer;
    box-sizing:border-box;
    gap: 0.5em;
    margin: 10px 0;
    padding: 20px;
    position: relative;
    border-radius: 25px;
    padding: 0px;
    background-color: white;
    border: 2px solid #E1EBF4;
    height: 30%;

    p {
        font-size: 20px;
    }
    .pieData {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 220px;
        width: 100%;
        padding: 100px;
        border-bottom: 2px solid #E1EBF4;

        .counter {
            font-weight: bold;
            color: #212945;
        }
    }
    .loadData {
        padding: 100px;
    }
    .siteData {
        width: 100%;
        padding: 5%;
    }
}