@import '../../../assets/styles/buttons'; 
@import '../../../assets/styles/forms'; 

.teamsListSection {
  width: 100%;
  background: white;
  padding: 0 $base-spacing*2 $base-spacing*2 $base-spacing*2;
  border-radius: 10px;

  header {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    padding: $base-spacing*2 0;
    border-bottom: 3px solid $background-color1;

    h3{
      margin-right: auto;
    }
    select {
      margin-left: 10px;
    }
  }

  .columnTitles{
    padding: $base-spacing $base-spacing/2;
    // background-color: $background-color1;
    padding: $base-spacing;
  }

  .teamsList {
    width: 100%;
  }

  .teamItem, .columnTitles {
    display:grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    justify-items: start;
    align-items: center;
  }
  
  .teamItem {
    margin-bottom: $base-spacing;
    padding: 0 $base-spacing;

    &:hover {
      background-color: $background-color2;
    }

    button {
      height: fit-content;
      width: 100%;
    }
  }
}