@import "./../../../assets/styles/variables";

.dropdownContainer {
    background-color: $background-color2;
    padding-left: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/7;
    border-radius: 0 0 25px 25px;
}
