@import '../../assets/styles/buttons';


.appHeader {
  width: 100%;
  height: 6vh;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: $blue;
}

.link {
  font-weight: 500;
  color: lightgray;
  margin: 5px 15px;
  text-decoration: none;;
}

.accountMenu {
  position: absolute;
  padding: 0;
  right: 0 + 1em;
  top: 3em; 
  transform-origin: top;
  transform: scaleY(0);
  list-style: none;
  text-align: right;
  z-index: 2;

  li {
    padding: 0.5em;
  }
}
.accountMenuOpen {
  transform: scaleY(1);
}
