@import '../../assets/styles/buttons';
@import "../../assets/styles/variables";

.managementMain {
    width: 95%;
    margin: 0 auto;

    .headingContainer {
        display: flex;
        justify-content: space-between;

        .managementTitle {
            font-size: 90px;
            color: $light-text-mid;
            font-family: rubik;
            font-style: normal;
            font-weight: 700;
        }
        button {
            margin: 40px 20px 0;
        }
    }
    .trafficLightSignal {
        width: 250px;
        height: 100px;
        background-color: $background-color1;
        margin-right: 20px;
        margin-left: auto;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 20px;

        .defaultSignal {
            width: 75px;
            height: 75px;
            border: 2px solid black;
            border-radius: 50%;
            background-color: $background-color1;
        }
        .redSignal {
            background-color: red;
        }
        .amberSignal {
            background-color: orange;
        }
        .greenSignal {
            background-color: green;
        }
    }
    .liveFeedContainer {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
