@import "./../../assets/styles/variables";
// @import "./../../assets/styles/fonts";

.main {
    width: 95%;
    margin: 0 auto;
}

.pageGrid {
    background-color: $background-color1;
    padding: 1em;
    justify-items: center;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "List"
    "Aside"
    ;
    border-radius: 25px;
}

.title {
    font-size: 90px;
    color: $light-text-color;
    font-family: rubik;
    font-style: normal;
    font-weight: 700;
}

@media (min-width: 1024px) {
    .pageGrid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "List Aside";
    }
}

// @import "./../../assets/styles/variables";

// .pageGrid {
//     background-color: $background-color;
//     width: 100%;
//     padding: 1em;
//     justify-items: center;
//     display: flex;
//     gap: 1em;
//     border: solid 3px white;
// }


// @media (max-width: 1024px) {
//     .pageGrid {
//         flex-direction: column-reverse;
//     }
// }