.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    transition: all 1s ease;
    overflow-x: scroll;

    &.shown{
        position: absolute;
        top: 2%;
        left: 2%;
        height: 96%;
        width: 96%;
        background-color: grey;
        border: 2px solid black;
    }
}