@import '../../assets/styles/buttons'; 
@import "../../assets/styles/variables";

.pageGrid {
    width: 100%;
    padding: 1em;
    justify-items: center;
    display: grid;
    gap: 1em;
    grid-template-columns: auto 1fr;
}

.buttonGrid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
}

.btn{
    width: 100%;
}

.newsList{
        list-style: none;
        padding-inline-start: 0px;
        width: 100%;
        background-color: $background-color1;
        border: 2px solid black;
        margin: 0px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
    transition: all 1s ease;
    overflow-x: scroll;

    &.shown{
        position: absolute;
        top: 2%;
        left: 2%;
        height: 96%;
        width: 96%;
        background-color: grey;
        border: 2px solid black;
    }
}