@import "../../../../assets/styles/variables";

.newsItem{
    display: grid;
    grid-template-columns: (1fr 1fr 4fr 50px);
    justify-items: start;
    align-items: center;
    padding: $base-spacing/2;
    border-top: 1px solid $background-color1;
    position: relative;
    color: $dark-text-mid;

    &:hover {
        background-color: $background-color1;
        p {
        color: $dark-text-high;
        }
    }
}
