@import "../../../../assets/styles/variables";

.newsItem{
    display: grid;
    grid-template-columns: (1fr 1fr 4fr);
    justify-content: space-evenly;
    width: calc(100% - 20px);
    background-color: $background-color1;
    margin: $base-padding;
}