@import "./../../../../assets/styles/variables";

.approveLoadForm {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: $base-spacing*2;
    background-color: $background-color2;
}