@import './assets/styles/buttons'; 
@import './assets/styles/forms'; 
@import './assets/styles/variables'; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background: rgb(245,245,245);
}

body {
    margin: 0;
    padding: 0;
}