@import './assets/styles/buttons'; 
@import './assets/styles/forms'; 
@import './assets/styles/variables'; 

* {
    box-sizing: border-box;
    font-family: Neucha, -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

html {
    background-color: $background;
}

body {
    margin: 0;
    padding: 0;
}