@import "../../../assets/styles/buttons";
@import "../../../assets/styles/variables";

.vehicleListSection {
  width: 100%;

  header {
    // background-color: $primary-color;
    background-color: lightgrey;
    color: white;
    display: flex;
    align-items: center;
    padding: $base-spacing $base-spacing * 2;

    .vehicleSummary {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;

      p {
        font-weight: 700;
      }
    }

    h3 {
      flex-grow: 1;
      margin-right: auto;
    }
  }

  .columnTitles {
    padding: $base-spacing;
  }

  .vehicleList {
    height: 0px;
    overflow: hidden;
    width: 100%;
    background-color: $background-color1;
    margin: 0;
    padding: 0 $base-spacing $base-spacing $base-spacing;
    transition: all 0.3s ease;
  }

  .vehicleItem,
  .columnTitles {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3em;
    justify-items: start;
    align-items: center;
  }

  .vehicleItem {
    background-color: $background-color1;
    margin-bottom: $base-spacing;
    padding: 0 $base-spacing;
    border-bottom: 1px solid grey;

    &:hover {
      background-color: $background-color2;
    }

    &.unavailable {
      background-color: $danger-color;

      &:hover {
        background-color: $danger-color-lighten;
      }
    }
  }
}
