@import "./variables";
@import "./fonts";

// Put your GENERIC form styles in here

label {
  font-size: 0.8rem;
}

.inputPrimary, .selectPrimary {
  padding: $base-spacing/2;
  margin: $base-spacing;
  border-radius: 5px;
  position: relative;
  border: 1px solid $grey;
  transition: 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $blue;
    color: $light-text-high;
  }
}