@import "./variables";
@import "./fonts";

// Put your GENERIC form styles in here

select, input {
  box-sizing:border-box;
  background-color: $background-color2;
  color:rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  cursor:pointer;
  font-family: $font;
  font-size:14px;
  font-weight:400;
  padding: 8px;
  transition: 0.15s ease-in-out;
  background: white;
  &:active, &:hover {
    background-color: $background-color4;
  }

}