// Put your GENERIC variables in here

// COLOR VARIABLES //
$background: #5C636A;

//table background color accents
$background-color1: rgba(255, 255, 255, 0.2);
$background-color2: rgba(255, 255, 255, 0.4);
$background-color3: rgba(255, 255, 255, 0.6);
$background-color4: rgba(255, 255, 255, 0.8);

//colour variables
$primary-color: #FFAA00;
$secondary-color: rgb(50, 50, 50);
$success-color: rgb(16, 212, 13);
$success-color-lighten: rgb(4, 253, 0);
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$danger-color-lighten: #ff0019;

//text colour variables
$dark-text-color: rgba(0,0,0,0.8);
$light-text-color: rgba(250,250,250,0.8);

//fault classes colors
$class-a-color: #D40D0D;
$class-b-color: #F4F900;
$class-c-color: #1E9419;

//spacings
$base-spacing: 8px;



