// Put your GENERIC variables in here

// COLOR VARIABLES //
$background: #5C636A;

//table background color accents
$background-color1: rgba(255, 255, 255, 0.2);
$background-color2: rgba(255, 255, 255, 0.4);



//button variables
$btn-primary-color: #FFAA00;
$btn-success-color: rgba(16, 212, 13, 0.8);
$btn-info-color: #17a2b8;
$btn-warning-color: #ffc107;
$btn-danger-color: #dc3545;
$dark-text-color: #000000;
$light-text-color: #FFFFFF;

//fault classes colors
$class-a-color: #D40D0D;
$class-b-color: #F4F900;
$class-c-color: #1E9419;


