// Put your GENERIC variables in here

// COLOR VARIABLES //
$background: #5C636A;

//table background color accents
$background-color1: rgb(240, 240, 250);
$background-color2: rgba(255, 255, 255, 0.4);
$background-color3: rgba(44, 44, 44, 0.6);
$background-color4: rgba(255, 255, 255, 0.8);

//colour variables
$primary-color: rgb(80, 99, 255);
$secondary-color: rgb(50, 50, 50);
$success-color: rgb(16, 212, 13);
$success-color-lighten: rgb(4, 253, 0);
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$danger-color-lighten: #ff0019;

$blue-faint: #b3e5fc;
$blue-lighten: #4dabf5;
$blue: #2196f3;
$blue-darken: #1769aa;

$amber-faint: #ffe082;
$amber-lighten: #ffcd38;
$amber: #ffc107;
$amber-darken: #b28704;

$grey-lighten-more: #eeeeee;
$grey-lighten: #e0e0e0;
$grey: #9e9e9e;
$grey-darken: #616161;

//text colour variables
$dark-text-high: rgb(33,41,69);
$dark-text-mid: rgb(165,173,198);
$dark-text-low:rgb(185, 188, 197);
$light-text-high: rgb(250,250,250);
$light-text-mid: rgb(240,240,240);
$light-text-low: rgb(200,200,200);

//fault classes colors
$class-a-color: #D40D0D;
$class-b-color: #F4F900;
$class-c-color: #1E9419;

//spacings
$base-spacing: 8px;



