@import '../../../../assets/styles/buttons'; 
@import '../../../../assets/styles/variables'; 

  .userItem {
    display:grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 25px 25px;
    justify-items: start;
    align-items: center;
    background-color: $background-color1;
    padding: $base-spacing/2;
    border-bottom: 1px solid $grey-lighten;
    position: relative;

    &:hover {
      background-color: $grey-lighten-more;
    }

    button {
      height: fit-content;
      width: 100%;
    }

    .confirmDelete {
      display: none;
      position: absolute;
      right: 0;
      grid-template-columns: auto auto;
      gap: $base-spacing;
    }

    .confirmOpen {
      display: grid;
    }
  }

  .faIcon {
    cursor: pointer;
    font-size: 1em;
    color: $dark-text-mid;
  }