@import '../../assets/styles/buttons'; 

.pageContainer {
  width: 100%;
  justify-items: center;
  display: flex;
}

.mainContent {
  width: 100%;
  padding: 10px;
}

.adminNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $base-spacing*2;

  h2{
    margin-right: auto;
  }
}